@import 'tailwindcss';

.video-responsive-container {
  max-width: 1400px; /* Desired max size */
  margin: 0 auto;    /* Center horizontally */
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Maintain 16:9 ratio */
}

.youtube-video {
  width: 100%;
  height: 100%;
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
  display: block;
}
